<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
  <link rel="stylesheet" href='/public/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/public/css/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
  <!-- 背景 -->
  <canvas></canvas>
  <!-- 头部 -->
  <header class="header">
    <!-- 头部背景 -->
    <div class="header-bg"></div>
    <!-- 头部导航栏 -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Rick's Blog</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">首页</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>
  <!-- 正文部分 -->
  <section class="section-wrap">
    <!-- 栅格容器 -->
    <div class="container-fluid">
      <div class="row">
        <!-- 左留空 -->
        <div class="left-gap col-md-2 col-sm-1 hidden-xs"></div>
        <!-- 文章版心 -->
        <div class="article-wrap col-md-5 col-sm-7 col-xs-12">
          <!-- 单篇文章 -->
          <article class="article">
                <h2>标题</h2>
                <div class="article-info">
                  <span>作者:</span>
                  <span>时间:</span>
                  <span>阅读:</span>
                  <span>评论:</span>
                </div>
                <h3>小标题</h3>
                <div>文章内容</div>
                <div>阅读全文</div>
          </article>
          <article class="article">
                <h2>标题</h2>
                  <div class="article-info">
                    <span>作者:</span>
                    <span>时间:</span>
                    <span>阅读:</span>
                    <span>评论:</span>
                  </div>
                <h3>小标题</h3>
                <div>文章内容</div>
                <div>阅读全文</div>
          </article>
          <article class="article">
                <h2>标题</h2>
                  <div class="article-info">
                    <span>作者:</span>
                    <span>时间:</span>
                    <span>阅读:</span>
                    <span>评论:</span>
                  </div>
                <h3>小标题</h3>
                <div>文章内容</div>
                <div>阅读全文</div>
          </article>
          <article class="article">
            <span>没有上一页</span>
            <span>1/2</span>
            <span>下一页</span>
          </article>
        </div>
        <!-- 侧部版心-->
        <div class="aside-wrap col-md-3 col-sm-3 hidden-xs">
          <!-- 侧部 -->
          {% if userInfo._id %}
          <aside class="aside user-info" id="user-info">
              <h3>用户信息</h3>
              <p class="user-username">{{userInfo.username}}</p>
              {% if userInfo.isAdmin %}
              <p>你好，你是管理员</p>
              <p>
                <a href="/admin">点击进入后台管理</a>
              </p>
              {% else %}
              <p>你好，欢迎光临我的博客</p>
              {% endif %}
              <p><a href="javascript:;" id="logout">退出</a></p>
          </aside>
          {% else %}
          <aside class="aside user-login" id="user-login">
            <h3>登录</h3>
            <form action="">
              <div class="form-left">
                <label for="">用户名:</label>
                <label for="">密码:</label>
              </div>
              <div class="form-right">
                <input type="text" name="username">
                <input type="password" name="password">
                <input type="button" value="登录">
              </div>
            </form>
            <p class="register-prompt">没有账号？<a href="javascript:;" class="to-register">马上注册</a></p>
            <p class="back-prompt"></p>
          </aside>
          <aside class="aside user-register" id="user-register">
            <h3>注册</h3>
           <form action="">
              <div class="form-left">
                <label for="">用户名:</label>
                <label for="">密码:</label>
                <label for="">确认密码:</label>
              </div>
              <div class="form-right">
                <input type="text" name="username">
                <input type="password" name="password">
                <input type="password" name="repassword">
                <input type="button" value="注册">
              </div>
            </form>
            <p class="login-prompt">已有账号？<a href="javascript:;" class="to-login">马上登录</a></p>
            <p class="back-prompt"></p>
          </aside>
          {% endif %}
          <aside class="aside community">
            <h3>社区</h3>
          </aside>
        </div>
        <!-- 右留空 -->
        <div class="right-gap col-md-2 col-sm-1 hidden-xs"></div>
      </div>
    </div>
  </section>
  <!-- 底部 -->
  <footer class="footer"></footer>

  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="/public/js/index.js"></script>
  <script src="/public/js/canvas.js"></script>
</body>
